/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Merriweather;
    display: flex;
    flex-direction: column;
    color: #333;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #282119;
    padding: 5px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

/*----- Logo -----*/
.logo img {
    height: 60px;
}

/*----- Các icon trong Header (đăng nhập và giỏ hàng) -----*/
.header-icons {
    display: flex;
    gap: 20px;
    margin-right: 35px;
}

.cart-logo {
    height: 40px;
    width: auto;
    cursor: pointer;
}

.cart-logo:hover {
    opacity: 0.8; 
}

/*----- Các liên kết điều hướng (nav links) -----*/
.nav-links {
    display: flex;
    gap: 20px;
    margin: 0 auto;
}

.nav-links a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    margin-left: 40px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transform: scaleX(0);
    transition: transform 0.5s;
}

.nav-links a:hover::after {
    transform: scaleX(1);
}

/*----- Icon Menu (hiển thị trên thiết bị nhỏ) -----*/
.menu-icon {
    font-size: 30px;
    color: white;
    cursor: pointer;
    display: none;
    margin: 0 50px 0 auto;
}

#nav-toggle {
    display: none;
}

@media (max-width: 858px) {
    .menu-icon {
        display: block;
        margin-left: 10px;
    }

    .logo {
        position: absolute;
        left: 50%;
        transform: translateX(-75%);
    }

    .nav-links {
        position: fixed;
        top: 54px;
        left: -100%;
        width: 45%;
        height: 100vh;
        background-color: #3E2723;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        transition: all 0.5s ease;
    }

    #nav-toggle:checked + .menu-icon + .nav-links {
        left: 0;
    }

    .nav-links a {
        font-size: 1em;
        padding: 20px;
        width: 50%;
        text-align: left;
    }
}

/*----- Nút đăng nhập và đăng ký -----*/
.auth-buttons {
    display: flex;
    gap: 10px;
}

.login-btn, .register-btn {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 8px 16px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.login-btn:hover, .register-btn:hover {
    background-color: white;
    color: #282119;
}

.auth-icon {
    display: none;
}

@media (max-width: 680px) {
    .login-btn, .register-btn {
        display: none; /* Ẩn các nút */
    }

    .auth-icon {
        display: inline-block; /* Hiển thị icon */
    }
}


/*----- Thông tin người dùng sau khi đăng nhập -----*/
.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

/* CSS cho tên người dùng */
.user-info .user-link {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    font-family: 'Merriweather', serif;
}

/* Nút logout */
.user-info .logout-btn {
    display: flex;
    align-items: center;
    text-decoration: none;
}

/* Icon logout */
.user-info .logout-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.user-info .logout-btn:hover .logout-icon {
    transform: scale(1.1);
}

/*----- Hero Section -----*/
.hero {
    margin-top: 50px;
    background-image: url('../image/dn-dk.jpg'); 
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    position: relative;
}

.hero::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
}

.hero-content {
    position: relative;
    z-index: 1;
}

.hero h1 {
    font-size: 2.5em;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
}

.hero p {
    font-size: 1.2em;
    font-family: 'Merriweather', serif;
}

.hero span {
    font-family: 'Dancing Script', cursive;
    font-size: 1.5em;
}

/*----------- Container ------------*/
.login-container {
    max-width: 400px;
    width: 90%;
    margin: 90px auto;
    padding: 40px;
    background-color: rgba(255, 255, 255, 0.9); /* Nền trong suốt */
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-family: Arial, sans-serif;
}

.header, .signup-prompt {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header p, .signup-prompt p {
    font-weight: bold;
    color: #333;
}

.login-link-button, .signup-button {
    background-color: transparent;
    border: 1px solid #333;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: bold;
    color: #333;
    transition: background-color 0.3s ease;
}

.login-link-button:hover, .signup-button:hover {
    background-color: #333;
    color: #ffffff;
}

h2 {
    font-size: 1.5em;
    color: #333;
    margin-bottom: 10px;
}

.subtext {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 20px;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.input-group label {
    font-size: 0.9em;
    color: #555;
    margin-bottom: 5px;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1em;
    outline: none;
}

/* Password Requirements */
.password-requirements {
    font-size: 0.85em;
    color: #777;
    margin-bottom: 15px;
}

.password-requirements ul {
    list-style-type: none;
    padding-left: 0;
}

.password-requirements ul li {
    margin-bottom: 5px;
}

/* Checkbox Group */
.checkbox-group {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    color: #555;
    margin-bottom: 10px;
}

.checkbox-group input[type="checkbox"] {
    margin-right: 10px;
}

/* Buttons */
.btn-register, .login-button {
    width: 100%;
    padding: 10px;
    background-color: #c62828; /* Màu đỏ cho nút đăng ký */
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-register:hover, .login-button:hover {
    background-color: #b71c1c;
}

.error-message {
    color: red;
    font-size: 0.9em;
    margin-top: 10px;
    text-align: center;
}

fieldset {
    border: none;
    border-bottom: 3px solid #76290B;
    padding: 2rem 0;
    margin-bottom: 20px;
}

/* Footer */
.footer {
    background-color: #282119;
    color: #CC8363;
    padding: 20px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 250px;
}

.footer-section h2 {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #C27535;
    font-family: 'Dancing Script', cursive;
}

.footer-section p, .footer-section ul li {
    font-size: 1em;
    line-height: 1.8;
    color: #FBEDC3;
}

.footer-section ul {
    list-style-type: none;
    padding-left: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #CC8363;
    text-decoration: none; 
    font-size: 1.2em;
}

.social-links a {
    color: #CC8363;
    font-size: 1.2em;
    text-decoration: none;
    margin-right: 15px;
    transition: color 0.3s;
}

.social-links a:hover {
    color: #C27535;
}

.footer-bottom {
    margin-top: 30px;
    border-top: 1px solid #CC8363;
    padding-top: 20px;
    font-size: 0.9em;
    color: #FBEDC3;
    font-family: 'Merriweather', serif;
}
